<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/assets/iconmoon.css">
    <title>{% block title %}{%- endblock -%}
      {% if self.title() %}- {% endif %}Good Works Online
    </title>
  </head>
  <body>
    <header>
      {% if self.title()|trim %}
      <h1>{{ self.title()|trim }}</h1>
      {% else %}
      <h1>Good Works Online</h1>
      {% endif %}
      <nav>
	<a href="/">Home</a>
	<a href="/categories">By Category</a>
	<a href="/alphabetical">Alphabetical</a>
	<a href="/contributing">Contributing</a>
      </nav>
      
  </header>
  <main>     
    {% block main %}{% endblock %}
  </main>

  <footer>
    <p>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    <p>
      <a href="https://gitlab.com/emacsen/goodworksonline">
	<span class="icon-gitlab"></span>
	</object>Contribute on Gitlab</a>
    </p>
  </footer>
</body>
</html>
