{% extends "base.html" %}
{% block title %}Contributing{% endblock %}
{% block main %}
<p>The Good Works Online project welcomes contributions to its database of projects.</p>

<p>Contributions can take many forms, including</p>
<ul>
<li>Adding New Project</li>
<li>Correcting typos/grammar</li>
<li>Improving the layout or project structure</li>
<li>Something else we haven't thought of yet</li>
</ul>

<h1>Guidelines for Contributions</h1>
<ul>
<li>Projects must be for volunteer positions, not paid jobs</li>
Projects must be open-ended, not temporary or meant to fulfill a specific role</li>
<li>Projects should not require a specific degree or license and also shouldn't require mandatory training courses for the volunteers</li>
<li>Projects should be for the benefit of the public good. This means that output from the project must be a <a href="https://freedomdefined.org/Definition">Free Work</a></li>
<li>If the project does not produce an accessible good (eg teaching, mentoring), it must be run by a recognized charitable entity</li>
<li>Projects that appear dead/inactive may be removed</li>
</ul>

<h1>How to Contribute</h1>

To contribute, please go to the <a href="https://gitlab.com/emacsen/goodworksonline">Gitlab repository</a> and either make a merge request, or <a href="https://gitlab.com/emacsen/goodworksonline/-/issues/new">Open a New Issue</a>
{% endblock %}
